@using DevExtreme.AspNet
@model EmployeeCreateViewModel

@{
    ViewBag.Title = "Create Employee";
}


    <form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <input asp-for="Email " class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>




        @*<div class="form-group row">
            <div class="display-field">
                <input type="text" value="@string.Format("{0: (###) ###-####}", Model.Mobile)" />
            </div>
        </div>*@



        @*<div class="form-grou row">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group row">
            <label asp-for="Mobile" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                @*@Html.DisplayFor(m => m.Mobile)*@


                <input asp-for="Mobile" asp-format="(###) ###-####" class="form-control " />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
        </div>



        @*<div class="dx-field">
            <div class="dx-field-label">Accounting format</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().NumberBox()
                    .Format("$ #,##0.##;($ #,##0.##)")
                    .Value(-2314.12)
                )
            </div>
        </div>*@


        <div class="form-group row">
            <label asp-for="Department" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">
                <select asp-for="Department" class="custom-select mr-sm-2" asp-items="@Html.GetEnumSelectList<Dept>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="Photo" class="col-sm-2 col-form-label"> </label>
            <div class="col-sm-10">

                <div class="custom-file">
                    <input multiple asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File to Upload</label>
                </div>
            </div>
        </div>




        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>


        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.custom-file-label');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + "files selected");
                        }
                        else if (files.length == 2) {
                            fileLabel.html(files[0].name);

                        }
                        //console.log($(this));

                        //var filename = $(this).val().split("\\").pop();
                        //$(this).next('.custom-file-label').html(filename);
                    });
                });

                                    //$(".Mobile").keyup(function () {
                                    //    $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1)$2-$3"));
                                    //});
            </script>
        }

    </form>

